run = "cd aimcrs-india-traffic-dataset && python scripts/dashboard.py"
entrypoint = "aimcrs-india-traffic-dataset/scripts/dashboard.py"

[nix]
channel = "stable-24_05"

[env]
PYTHONPATH = "/home/runner/${REPL_SLUG}"

[deployment]
run = "cd aimcrs-india-traffic-dataset && python scripts/dashboard.py"
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
